.floor {
  display: flex;
  flex-direction: column;
  flex: 1;
  &-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &-container {
    transition: 0.2s transform linear;
    transform-origin: center center;
  }
  &-map {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(-10%, -10%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    &-drawings {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: '#BEBEBE';
    }
  }
  &-item {
    position: absolute;
    z-index: 99;
    width: 30px;
    height: 30px;
    text-align: center;
    &-img {
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
    }
    &-name {
      font-size: 14px;
      color: rgba(0, 0, 0, 1);
    }
  }
}

.popContainer {
  display: flex;
  flex-direction: column;
  color: rgba(128, 128, 128, 1);
  flex-wrap: nowrap;
  .flexTop {
    display: flex;
    flex-direction: row;
    height: 224px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
    padding: 24px;
    padding-bottom: 0;
    .topRight {
      width: 200px;
      .img {
        width: 128px;
        height: 128px;
      }
    }
    .topLeft {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      .leftTop {
        font-size: 32px;
        font-weight: 400;
        color: rgba(81, 85, 89, 1);
        line-height: 32px;
        text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
      }
      .leftBottom {
        margin-top: 16px;
        font-size: 24px;
        color: rgba(162, 170, 179, 1);
        text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
      }
    }
  }
  .flexBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 120px;
    .bottomLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: center;
    }
    .bottomRight {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: center;
    }
    .bottomImg {
      width: 80px;
      height: 80px;
    }
    .bottomTxt {
      font-size: 24px;
      color: rgba(128, 128, 128, 1);
      text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    }
  }
}

.selector {
  display: flex;
  flex-direction: column;
  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
    &-left {
      text-align: center;
      font-size: 32px;
    }
    &-right {
      text-align: center;
      font-size: 32px;
    }
  }
  &-top {
    display: flex;
    flex-direction: row;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
    height: 408px;
    &-left {
      width: 50%;
    }
    &-right {
      width: 50%;
    }
  }
  &-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    &-left {
      text-align: center;
      font-size: 32px;
      text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    }
    &-right {
      text-align: center;
      font-size: 32px;
      color: rgba(0, 145, 255, 1);
      text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    }
  }
}

.search {
  position: absolute;
  top: 30px;
  background: none !important;
  z-index: 99;
  width: 100%;
}
